.header{
    height: 70px;
    width: 100%;
    background-color: #f3f4fc;
    display: flex;
    justify-content: center;

    &-container {
        width: 90%;
        height: 70px;
        display: flex;

    &-logo {
        width: 60px;
        margin: 8px;
    }

    &-title {
        font-family: 'Cormorant Garamond', serif;
        color: #8187ea;
        margin: 20px 0;
        font-size: 25px;
    }
    }
}
